<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.disneycoding">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DisneyCoding">
        <activity
            android:name=".Courselist_activity"
            android:exported="true" />
        <activity
            android:name=".Teacher.teacherlogin_Activity"
            android:exported="true" />
        <activity
            android:name=".Teacher.teacherreg_Activity"
            android:exported="true" />
        <activity
            android:name=".Viewpager.home_Activity"
            android:exported="true" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration_Activity"
            android:exported="true" />
        <activity
            android:name=".Teacher.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.bloodfinder.bottom.nav_ex"
            android:exported="true" />
        <activity
            android:name="com.retorfit.disneycoding.Login"
            android:exported="true" />
        <activity
            android:name=".Navigation.navigation"
            android:exported="true" />
    </application>

</manifest>